/* Estilos para a seção de produtos */
#produtos {
    padding: 20px;
    background-color: #f9f9f9;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.produto p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.produto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para os títulos */
header h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 80px; /* Aumenta a distância do menu */
}

h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-top: 40px;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para a seção de serviços */
#servicos {
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo específica para a seção de serviços */
}

.servicos p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}
